<div class="container mt-3">
  <h1>Select your movie-style</h1>
  <% @lists.each do|list| %>
    <div class="d-flex justify-content-between">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <%= link_to list.name, list_path(list) %>
          <% if list.photo.attached? %>
            <%= cl_image_tag(list.photo.key, height: 300, width: 400, crop: :fill) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
