<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-image: url(https://deadline.com/wp-content/uploads/2021/05/Hollywood-Sign.jpg?w=681&h=383&crop=1);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/lists">Your lists</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/lists/new">New list</a>
      </li>
    </ul>
  </div>
</div>
