.perso-card {
    text-decoration: none;
    color: orange;
    font-size: 35px;
    text-align: center;
    line-height: 80%;
    padding-bottom: 0;

}

.card-size {
  height: 100px;
}
.card {
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-body {
  min-height: 100%;
  width: 100%;
}
.no-padding{
  padding-left: 0;
  padding-right: 0;

}
