.navbar-lewagon {
  justify-content: space-around;
  // background-image: 'hollywood';
  height: 150px;
  li {
font-size: 25px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
